@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .navbar {
  background-color: #2b3743;
}

.dark .search {
  background-color: #2b3743;
}

.dark .country-card {
  background-color: #2b3743;
}

.dark .choice-title {
  background-color: #2b3743;
}

.dark .choice-box {
  background-color: #2b3743;
}

.dark .borders {
  background-color: #2b3743;
}

.dark #search-ico {
  stroke: #fff;
}

.dark #arrow {
  stroke: #fff;
}

.dark #back-arrow {
    fill: #fff;
}